### Query 3.1 
Import the file 'gold.csv' (you will find this in the intro section to download or in '/Data/gold.csv' if you are using the jupyter notebook), which contains the data of the last 2 years price action of Indian (MCX) gold standard. Explore the dataframe. You'd see 2 unique columns - 'Pred' and 'new'. One of the 2 columns is a linear combination of the OHLC prices with varying coefficients while the other is a polynomial function of the same inputs. Also, one of the 2 columns is partially filled.
Using linear regression, find the coefficients of the inputs and using the same trained model, complete the entire column.
Also, try to fit the other column as well using a new linear regression model. Check if the predictions are accurate. Mention which column is a linear function and which is polynomial.
(Hint: Plotting a histogram & distplot helps in recognizing the discrepencies in prediction, if any.)

In [2]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
import os
import sklearn
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
os.chdir('D:\downloads')
gold=pd.read_csv('GOLD.csv')
y=gold['Pred']
y1=pd.DataFrame(y)
count=0
x1=gold['Open']
for i in range(512):
    if(np.isnan(y[i])!=True):
        count=count+1
print(count)
for i in range(count):
    X=pd.DataFrame(gold.iloc[0:i+1,1:5])
    Y=pd.DataFrame(gold.iloc[0:i+1,7])
    
##normalization
X=(X-X.mean())/X.std()
Y=(Y-Y.mean())/Y.std()

411

In [4]:
ones = np.ones([X.shape[0],1])
X = np.concatenate((ones,X),axis=1)
alpha=0.005
no_of_iterations=1500
theta = np.zeros([1,5])
##cost function
def cost_function(X,theta,Y):
    product=np.dot(X,theta.T)
    residual=np.power(((X @ theta.T)-Y),2)
    cost=(np.sum(residual)/(2*len(X)))
    return cost;
cost_function(X,theta,Y)

Pred    0.498783
dtype: float64

In [5]:
def gradientDescent(X,Y,theta,no_of_iterations,alpha):
    cost = np.zeros(no_of_iterations)
    for i in range(no_of_iterations):
        theta=np.zeros([1,5])
        theta=theta-(alpha/len(X))*((X.T.dot(X @ theta.T - Y)).T)
        cost=cost_function(X,theta,Y)
        return theta,cost;
gradientDescent(X,Y,theta,no_of_iterations,alpha)

(array([[-4.10593430e-19,  2.01954678e-04,  5.44438142e-04,
          4.00993596e-04,  7.18813372e-05]]), Pred    0.498684
 dtype: float64)

In [6]:
os.chdir('D:\downloads')
gold=pd.read_csv('GOLD.csv')
y=gold['Pred']
y1=pd.DataFrame(y)
count=0
x1=gold['Open']
for i in range(512):
    if(np.isnan(y[i])!=True):
        count=count+1
print(count)
for i in range(count):
    X=pd.DataFrame(gold.iloc[0:i+1,1:5])
    Y1=pd.DataFrame(gold.iloc[0:i+1,7])
    
Y1

411

      Pred
0    738.0
1   -146.0
2     30.0
3    357.0
4    124.0
5    149.0
6    167.0
7     22.0
8     34.0
9    420.0
10   234.0
11   345.0
12   265.0
13   138.0
14   378.0
15   413.0
16   214.0
17   121.0
18   491.0
19   397.0
20   404.0
21   222.0
22    -3.0
23   259.0
24   344.0
25   906.0
26   526.0
27   174.0
28   685.0
29   329.0
..     ...
381  322.0
382   72.0
383  285.0
384  566.0
385  503.0
386   35.0
387  386.0
388  982.0
389  709.0
390  268.0
391  752.0
392  429.0
393  201.0
394  124.0
395  772.0
396 -101.0
397  168.0
398  663.0
399  405.0
400   12.0
401  397.0
402  441.0
403  464.0
404  131.0
405  662.0
406  -31.0
407   72.0
408   35.0
409  669.0
410  521.0

[411 rows x 1 columns]

In [7]:
regr=linear_model.LinearRegression()
regr.fit(X,Y1)
Y_pred=pd.DataFrame()
Y_pred=regr.predict(X)
countX=len(gold)
X1=pd.DataFrame(gold.iloc[0:countX,1:5])
Y=pd.DataFrame(regr.predict(X1))
Y

          0
0     738.0
1    -146.0
2      30.0
3     357.0
4     124.0
5     149.0
6     167.0
7      22.0
8      34.0
9     420.0
10    234.0
11    345.0
12    265.0
13    138.0
14    378.0
15    413.0
16    214.0
17    121.0
18    491.0
19    397.0
20    404.0
21    222.0
22     -3.0
23    259.0
24    344.0
25    906.0
26    526.0
27    174.0
28    685.0
29    329.0
..      ...
482    93.0
483   741.0
484   466.0
485   502.0
486   159.0
487   833.0
488   378.0
489     6.0
490   694.0
491   518.0
492   554.0
493   517.0
494   202.0
495   338.0
496   489.0
497  1070.0
498    -8.0
499   579.0
500   468.0
501   223.0
502   264.0
503  -132.0
504   350.0
505   359.0
506   446.0
507   535.0
508   438.0
509   269.0
510   601.0
511   280.0

[512 rows x 1 columns]

In [8]:
X=pd.DataFrame(gold.iloc[0:512,1:5])
Y=pd.DataFrame(gold['new'])

In [9]:
regr2=LinearRegression()
regr2.fit(X,Y)
Y_pred=regr2.predict(X)

In [10]:
Y_pred

array([[ 118.20022177],
       [ 295.46003976],
       [ 131.64668374],
       [ 101.1996778 ],
       [ 111.72901105],
       [ 182.35184035],
       [ 141.04976208],
       [ 119.53676483],
       [ 218.35082641],
       [ 918.68219601],
       [ 475.73057631],
       [ 223.09007947],
       [ 426.49226091],
       [ 194.35701036],
       [  69.00141756],
       [  38.83652902],
       [ 346.74657213],
       [ 152.00304969],
       [  63.17696563],
       [ 547.7364857 ],
       [  36.79298559],
       [ 598.69426718],
       [ 201.05967554],
       [ 547.36782366],
       [ 112.1952669 ],
       [ 125.64317334],
       [ 110.66657835],
       [ 131.97544009],
       [ 161.45762843],
       [ 280.49351044],
       [  46.30950645],
       [  36.31753831],
       [  12.3491715 ],
       [ 114.81102355],
       [ 128.57015118],
       [ 177.80643245],
       [ 238.16332808],
       [ 301.54218899],
       [ 243.48417631],
       [ 114.83350713],
       [ 176.27080589],
       [ 128.79171337],
       [  27.68982879],
       [ 300.79190294],
       [ 243.72163896],
       [  68.59826688],
       [  98.16767959],
       [ 274.72312597],
       [ 294.89962984],
       [ 163.17639722],
       [  39.37307146],
       [ 573.04900298],
       [ 220.46205731],
       [ 259.83341409],
       [ 135.76786358],
       [ 352.14771807],
       [ 469.9821248 ],
       [ 130.85305505],
       [ 129.42875171],
       [  76.2148575 ],
       [ 260.0375823 ],
       [ 280.0706038 ],
       [ 134.13871774],
       [  67.24877511],
       [ 249.07250576],
       [ 249.46066375],
       [  77.894848  ],
       [ 204.43634958],
       [ 155.55744438],
       [ 796.59129626],
       [ 616.87784384],
       [ 280.46269112],
       [  75.9356648 ],
       [ 152.6672779 ],
       [ 571.17752733],
       [ 407.59669989],
       [ 394.1271631 ],
       [  81.60161874],
       [ 152.00826183],
       [  96.67272271],
       [ 508.32969734],
       [ 673.52789061],
       [ 506.53365889],
       [ 136.3437225 ],
       [ 741.90368953],
       [ 372.35463335],
       [ 442.43626829],
       [ 251.18558928],
       [ 131.05849953],
       [ 578.73707632],
       [ 170.30451036],
       [  54.56361954],
       [ 190.77821208],
       [ 121.31157008],
       [ 476.05946334],
       [  62.05566637],
       [  11.00963379],
       [ 276.7318862 ],
       [ 277.83100467],
       [ 195.32773063],
       [ 128.66017451],
       [1118.61000741],
       [ 150.40697331],
       [ 112.29179051],
       [ 150.55237421],
       [ 245.53216295],
       [  83.62548756],
       [ 107.65679698],
       [  50.66855458],
       [ 453.88534917],
       [ 309.07362632],
       [ 165.8585079 ],
       [  73.39524352],
       [ 179.0464817 ],
       [ 208.05525452],
       [ 104.23902526],
       [  14.62389049],
       [  34.55928459],
       [ 129.66106614],
       [  38.18043332],
       [ 184.13661842],
       [  75.64084224],
       [  87.56785655],
       [  92.94466979],
       [ 179.48479783],
       [ 252.20043493],
       [ 120.37013219],
       [ 342.53133112],
       [  91.18010832],
       [ 418.17334251],
       [ 493.83472775],
       [ 265.8969149 ],
       [ 273.91673781],
       [ 365.23780244],
       [ 100.11972641],
       [ 279.19734196],
       [ 321.40812495],
       [ 155.81854108],
       [  49.48859565],
       [ 527.96234677],
       [ 101.58715087],
       [  71.9433182 ],
       [ 410.62009071],
       [  61.41136118],
       [  42.41432563],
       [ 117.77958803],
       [  27.24457405],
       [  38.04785258],
       [  66.04948608],
       [ 480.38089756],
       [ 268.82093433],
       [ 103.3473992 ],
       [ 138.75887979],
       [  17.06846267],
       [  88.39617964],
       [  39.54304192],
       [  90.14774108],
       [ 151.92634174],
       [ 234.42785672],
       [ 130.95704597],
       [ 386.12302223],
       [  43.50013948],
       [  99.81765475],
       [  73.83567884],
       [ 429.26326818],
       [ 284.20515667],
       [ 426.29241188],
       [ 142.04386722],
       [ 438.91339439],
       [ 101.67764917],
       [ 190.94408426],
       [ 203.28566695],
       [ 308.01559484],
       [  74.35574092],
       [ 149.28539817],
       [  32.36448424],
       [ 511.97206907],
       [ 171.18054733],
       [ 293.98939626],
       [ 369.71250937],
       [ 155.98899343],
       [  64.04541492],
       [ 144.28302751],
       [ 304.21723437],
       [ 229.4681418 ],
       [ 212.92039986],
       [ 753.25612756],
       [ 350.22771177],
       [  70.67965684],
       [ 289.83779332],
       [ 175.55203932],
       [ 893.93085814],
       [ 239.91453382],
       [ 395.38663167],
       [ 353.14822636],
       [  66.2593831 ],
       [ 566.407042  ],
       [ 160.94424579],
       [ 189.7295367 ],
       [ 155.43093024],
       [1020.53560404],
       [  79.7341623 ],
       [ 397.88569239],
       [  96.38680967],
       [  87.78711958],
       [ 104.2629324 ],
       [ 315.80414707],
       [  76.67974453],
       [ 125.4063442 ],
       [ 115.46763922],
       [ 303.31954821],
       [ 135.60485984],
       [ 203.25040462],
       [ 255.08577778],
       [ 474.58824994],
       [  76.27982862],
       [  87.71900936],
       [ 179.85487871],
       [ 107.88207621],
       [ 225.48039216],
       [ 194.97618205],
       [  43.65750159],
       [ 156.19372734],
       [ 537.97523219],
       [  64.08596729],
       [ 411.05230028],
       [ 126.57822011],
       [ 752.97356053],
       [ 193.64422877],
       [  48.78923188],
       [  46.01525417],
       [ 118.59026683],
       [ 958.11454804],
       [  73.96371628],
       [ 601.98051821],
       [  59.03699689],
       [ 273.05825253],
       [ 212.64483321],
       [ 421.35402376],
       [1032.93402911],
       [  81.62197971],
       [ 390.93730812],
       [ 289.8047649 ],
       [ 310.51546587],
       [ 475.92419253],
       [ 243.64943355],
       [  63.49668246],
       [  53.98047403],
       [ 315.94284863],
       [ 112.02096144],
       [  70.76542184],
       [ 170.15700057],
       [  55.04417485],
       [ 202.09004085],
       [ 397.67406818],
       [ 364.66139722],
       [ 409.73748013],
       [ 297.85664381],
       [ 143.78250112],
       [ 293.32026033],
       [ 254.11850656],
       [ 366.48608622],
       [ 210.68092926],
       [  88.12510307],
       [  66.33238964],
       [ 134.84072246],
       [ 288.08077667],
       [ 294.8902042 ],
       [ 254.6141448 ],
       [ 331.80494661],
       [ 473.57596099],
       [  78.886986  ],
       [  86.75752752],
       [ 466.03628127],
       [  96.47833566],
       [ 115.34065907],
       [ 154.65092432],
       [ 291.2284002 ],
       [ 305.38103073],
       [  71.78700245],
       [ 524.28790187],
       [ 312.25354148],
       [ 128.66082023],
       [  79.03007688],
       [  89.18997776],
       [ 378.66412085],
       [  65.10712021],
       [  88.64386181],
       [  79.87124787],
       [  46.33010632],
       [  84.49850721],
       [ 255.71100023],
       [ 187.69847565],
       [ 208.45778422],
       [ 337.62734227],
       [  38.65701492],
       [ 120.18547504],
       [ 187.37575427],
       [ 789.72066283],
       [ 133.4840388 ],
       [  85.7210346 ],
       [ 101.41201014],
       [ 199.63340762],
       [ 132.06434452],
       [  61.73246854],
       [  13.35428611],
       [ 137.53650423],
       [ 125.684043  ],
       [  35.4779835 ],
       [ 129.66948916],
       [ 589.94383186],
       [ 380.98898745],
       [ 173.03656282],
       [ 251.15468289],
       [ 293.07624717],
       [  59.38489012],
       [ 124.37140446],
       [ 110.59973611],
       [  87.32682168],
       [  99.86889912],
       [ 148.84517438],
       [ 760.71040412],
       [  24.36771779],
       [  77.39068468],
       [ 113.69859852],
       [ 176.15025319],
       [ 286.63778636],
       [ 106.68677968],
       [ 164.44098046],
       [  54.02950882],
       [ 175.61558313],
       [ 156.14102061],
       [ 211.5135102 ],
       [ 462.21626979],
       [  86.42987445],
       [ 686.55301991],
       [ 225.78927252],
       [ 184.93629732],
       [ 359.5907122 ],
       [ 208.02659347],
       [ 135.41156651],
       [ 641.83075526],
       [ 129.02699121],
       [ 297.4536918 ],
       [ 528.66572496],
       [ 104.89454047],
       [ 400.11801461],
       [ 258.56326344],
       [ 320.89927045],
       [ 133.85796238],
       [ 199.32026238],
       [ 563.38117026],
       [ 375.8361662 ],
       [ 130.07079718],
       [  37.45697674],
       [ 335.61696178],
       [ 523.96449633],
       [ 126.01721331],
       [  26.83494301],
       [  35.84011876],
       [ 339.46999976],
       [ 501.94425375],
       [ 415.57596438],
       [ 213.69769177],
       [ 438.09589335],
       [  32.99924042],
       [ 120.76579389],
       [ 126.17912081],
       [1066.24142501],
       [ 117.29835329],
       [ 508.12523269],
       [ 100.95373512],
       [ 236.24606122],
       [ 488.91343783],
       [  95.58767559],
       [  99.00999411],
       [ 483.97284944],
       [ 163.36815409],
       [ 131.82380589],
       [ 253.1933323 ],
       [  37.57444618],
       [ 107.97668503],
       [ 170.83234375],
       [ 312.47035639],
       [ 472.33296546],
       [ 267.63545482],
       [ 166.69063621],
       [  89.99872378],
       [ 176.11645428],
       [ 140.13345047],
       [ 110.88289516],
       [  22.35171027],
       [ 387.46209119],
       [ 187.33633193],
       [ 491.47673729],
       [ 104.06745956],
       [ 212.77799198],
       [ 199.35821275],
       [ 105.80144357],
       [ 101.20527181],
       [ 304.79965525],
       [  97.111755  ],
       [ 382.44641748],
       [  42.88935206],
       [ 117.65916977],
       [1066.27015579],
       [ 301.6395544 ],
       [ 241.45050916],
       [ 187.90047898],
       [ 975.55266746],
       [ 989.2595758 ],
       [ 195.95578033],
       [  43.71475276],
       [ 127.6228993 ],
       [ 126.69965783],
       [ 373.27740892],
       [  96.69950119],
       [ 508.24016428],
       [ 532.00517504],
       [ 228.13737501],
       [ 295.00617496],
       [ 276.40728056],
       [ 334.85681328],
       [  96.74252543],
       [ 338.48089998],
       [ 252.48002717],
       [1402.83817297],
       [ 148.67508127],
       [ 225.91533259],
       [ 410.35226573],
       [ 307.41085084],
       [ 689.8263977 ],
       [  51.88868791],
       [ 193.69939219],
       [ 312.63560729],
       [ 312.74893565],
       [ 321.4925825 ],
       [ 125.97493364],
       [  46.99911491],
       [ 186.0186827 ],
       [ 366.17577013],
       [ 168.99190552],
       [  76.49864474],
       [ 634.21988898],
       [ 341.24011212],
       [ 763.16623507],
       [ 171.34493653],
       [ 507.54493174],
       [ 795.04639359],
       [ 328.71015862],
       [ 132.35122287],
       [ 225.89090631],
       [ 136.81256172],
       [ 359.20176078],
       [ 143.11426496],
       [  55.68797453],
       [ 532.99803569],
       [ 345.09380545],
       [ 562.23784138],
       [ 281.70221855],
       [ 621.18434861],
       [ 115.68901807],
       [  65.58233075],
       [ 291.66483075],
       [  41.89967316],
       [ 247.79164467],
       [ 199.28885844],
       [  96.42109901],
       [ 725.21128153],
       [ 399.19148483],
       [  25.2403373 ],
       [ 234.23654506],
       [ 168.08948387],
       [ 476.57951811],
       [  18.05694208],
       [ 280.88478065],
       [ 380.32848196],
       [  19.74530038],
       [ 150.37496112],
       [ 110.64980415],
       [ 564.78496644],
       [  36.022555  ],
       [ 201.08415702],
       [ 727.7738233 ],
       [ 186.92010336],
       [  82.18785029],
       [  99.46623276],
       [  70.85200978],
       [ 383.23573673],
       [ 169.6624189 ],
       [ 217.74965093],
       [ 241.47893495],
       [ 204.30752979],
       [ 252.58378521],
       [ 644.80422407],
       [ 118.06834412],
       [ 335.12406082],
       [  26.06184677],
       [ 204.90231134],
       [ 272.88687343],
       [  89.14008068],
       [  41.2238391 ],
       [ 117.90983102],
       [ 233.82093476],
       [ 200.78088321],
       [ 632.12098547],
       [ 380.37202876],
       [ 247.56716344],
       [  51.79526686],
       [ 112.88648822],
       [  48.18603404],
       [ 430.36157326]])

### Query 3.2
Import the stock of your choosing AND the Nifty index. Using linear regression (OLS), calculate - The daily Beta value for the past 3 months. (Daily= Daily returns)

The monthly Beta value. (Monthly= Monthly returns)

Refrain from using the (covariance(x,y)/variance(x)) formula. Attempt the question using regression.(Regression Reference) Were the Beta values more or less than 1 ? What if it was negative ? Discuss. Include a brief writeup in the bottom of your jupyter notebook with your inferences from the Beta values and regression results

In [11]:
os.chdir('D:\downloads')
shares=pd.read_csv('MINDTREE.csv')
nifty=pd.read_csv('MINDTREE.NS (3).csv')
nifty

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-05-15,507.350006,515.000000,505.899994,509.450012,489.371521,271952
1,2017-05-16,507.000000,515.849976,506.000000,511.299988,491.148590,207011
2,2017-05-17,507.049988,519.700012,502.750000,506.350006,486.393677,391401
3,2017-05-18,502.000000,516.750000,486.000000,492.899994,473.473816,852336
4,2017-05-19,491.950012,502.950012,489.500000,497.500000,477.892487,352273
5,2017-05-22,499.950012,511.850006,497.100006,502.350006,482.551300,399974
6,2017-05-23,504.000000,507.450012,491.000000,501.149994,481.398621,452893
7,2017-05-24,502.000000,515.000000,494.049988,509.950012,489.851807,823967
8,2017-05-25,513.700012,549.500000,508.450012,543.900024,522.463806,1632427
9,2017-05-26,540.000000,544.000000,532.000000,535.200012,514.106628,461613
10,2017-05-29,532.500000,552.049988,521.599976,530.549988,509.639893,718355
11,2017-05-30,530.549988,540.000000,524.000000,537.400024,516.219910,475566
12,2017-05-31,540.000000,549.799988,534.500000,543.950012,522.511841,617800
13,2017-06-01,545.049988,549.000000,535.000000,537.400024,516.219910,504801
14,2017-06-02,537.799988,543.799988,533.099976,539.900024,518.621399,312022
15,2017-06-05,540.000000,560.000000,536.299988,557.450012,535.479797,960839
16,2017-06-06,560.000000,565.900024,544.400024,546.700012,525.153320,931646
17,2017-06-07,549.500000,556.099976,513.549988,536.900024,515.739624,957153
18,2017-06-08,538.500000,546.349976,528.000000,543.500000,522.079529,459527
19,2017-06-09,542.000000,542.750000,534.150024,538.750000,517.516785,229279
20,2017-06-12,536.099976,544.549988,528.049988,539.799988,518.525391,379066
21,2017-06-13,540.900024,542.349976,530.200012,531.799988,510.840668,320855
22,2017-06-14,531.700012,536.750000,516.450012,523.299988,502.675659,671432
23,2017-06-15,521.049988,523.750000,515.049988,517.849976,497.440369,210643
24,2017-06-16,518.049988,525.450012,511.149994,514.950012,494.654724,385256
25,2017-06-19,518.700012,520.450012,511.600006,515.900024,495.567291,188878
26,2017-06-20,516.000000,525.000000,516.000000,519.750000,499.265503,442425
27,2017-06-21,517.849976,524.000000,515.049988,519.599976,499.121429,414457
28,2017-06-22,520.000000,530.849976,518.250000,521.000000,500.466309,403163
29,2017-06-23,531.950012,537.500000,525.000000,532.000000,511.032837,1238632
...,...,...,...,...,...,...,...
462,2019-03-26,945.000000,961.099976,935.950012,950.500000,938.417664,2125521
463,2019-03-27,938.900024,949.700012,931.000000,943.150024,931.161133,2185188
464,2019-03-28,943.450012,950.599976,937.099976,941.250000,929.285217,772947
465,2019-04-01,950.950012,954.000000,943.650024,944.950012,932.938232,748695
466,2019-04-02,948.900024,952.500000,945.099976,946.650024,934.616638,642877
467,2019-04-03,949.000000,949.500000,939.000000,943.799988,931.802795,727804
468,2019-04-04,943.000000,947.000000,940.650024,943.500000,931.506592,626426
469,2019-04-05,944.400024,962.750000,944.000000,952.950012,940.836548,1274179
470,2019-04-08,956.000000,964.500000,949.150024,957.299988,945.131165,1233339
471,2019-04-09,958.950012,969.500000,955.349976,962.200012,949.968933,1182333
472,2019-04-10,963.000000,975.000000,956.000000,970.250000,957.916565,2078842
473,2019-04-11,973.000000,979.000000,970.299988,976.650024,964.235291,1115408
474,2019-04-12,976.000000,979.000000,971.299988,975.650024,963.247925,456663
475,2019-04-15,977.000000,985.700012,972.250000,979.650024,967.197144,792811
476,2019-04-16,982.000000,987.849976,969.099976,972.450012,960.088623,672044
477,2019-04-18,979.000000,986.950012,961.000000,968.500000,956.188843,2285726
478,2019-04-22,967.000000,979.000000,966.000000,976.200012,963.790955,937745
479,2019-04-23,974.900024,982.000000,966.650024,975.400024,963.001160,477570
480,2019-04-24,976.000000,980.500000,975.500000,979.400024,966.950317,326956
481,2019-04-25,978.000000,995.000000,973.250000,989.400024,979.824463,617828
482,2019-04-26,984.400024,985.950012,974.000000,975.849976,966.405579,370028
483,2019-04-30,977.700012,990.000000,977.700012,981.250000,971.753296,688189
484,2019-05-02,985.000000,986.599976,977.150024,981.400024,971.901855,323640
485,2019-05-03,983.000000,983.849976,966.000000,970.200012,960.810242,476833
486,2019-05-06,969.000000,983.500000,962.400024,981.750000,972.248474,1604808
487,2019-05-07,982.799988,985.000000,975.000000,979.950012,970.465942,1242934
488,2019-05-08,981.000000,985.000000,971.049988,980.500000,971.010559,4301316
489,2019-05-09,979.599976,983.150024,976.099976,980.450012,970.961060,3787159
490,2019-05-10,980.400024,982.900024,973.000000,975.349976,965.910400,215170
491,2019-05-13,973.400024,983.000000,970.299988,979.099976,969.624084,485941

In [12]:
nifty['Date']=nifty['Date'].astype('datetime64[ns]')
niftymonthly=nifty.groupby(pd.Grouper(key='Date', freq='1M')).sum()
niftymonthly

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-05-31,6678.050018,6839.899994,6592.849976,6721.950072,6457.023897,7657568
2017-06-30,11204.949952,11329.249940,10996.199952,11152.000060,10712.476135,13393858
2017-07-31,10714.050078,10798.999970,10603.649994,10668.500030,10290.920046,14441578
2017-08-31,9821.050048,9944.800048,9671.450012,9807.300018,9473.487090,5298169
2017-09-30,9631.750030,9755.300018,9514.249940,9629.600006,9301.835359,9733199
2017-10-31,9763.250000,9904.649874,9646.600036,9774.949982,9442.238068,11012999
2017-11-30,11112.849976,11315.000030,10974.949952,11151.250000,10815.322847,14402265
2017-12-31,11350.350036,11585.450012,11186.850036,11407.800048,11066.129333,16405668
2018-01-31,14625.250000,14959.849916,14456.449952,14728.900024,14297.451965,38929266
2018-02-28,13958.750120,14293.450072,13701.600156,14030.950012,13646.506287,31421460
2018-03-31,15311.450012,15588.150084,15006.099916,15248.900024,14831.084654,42662298
2018-04-30,18727.800049,19238.000000,18469.549868,18931.049866,18420.608764,76078338
2018-05-31,22574.549864,22848.049865,22186.000061,22391.799989,21821.917116,34149497
2018-06-30,21021.599976,21236.299988,20586.049867,20933.150085,20400.390686,23988340
2018-07-31,22125.050049,22452.150082,21638.899904,22028.400207,21564.604616,51742810
2018-08-31,20952.249938,21345.100158,20744.449951,21106.150085,20692.633179,27042640
2018-09-30,20252.200072,20533.650022,19775.550416,20113.149903,19719.087827,29650132
2018-10-31,19418.600097,19882.700073,18857.950134,19336.250061,18971.942993,40635225
2018-11-30,16817.250060,17109.750000,16523.249940,16817.249940,16549.399171,24031317
2018-12-31,17253.099976,17531.550048,16979.899844,17250.699892,16975.945189,23531373
2019-01-31,19870.049988,20232.399964,19500.849976,19864.249940,19567.997743,60951522
2019-02-28,17049.049988,17275.400084,16819.099976,17060.249940,16843.387268,22793084
2019-03-31,16899.000060,17063.200072,16681.599976,16844.400084,16630.281130,34097268
2019-04-30,18359.200132,18505.700012,18249.950012,18372.000180,18147.401064,17255463
2019-05-31,7834.200012,7873.000000,7771.000000,7828.700012,7752.932616,12437801

In [13]:
shares['Date']=shares['Date'].astype('datetime64[ns]')
sharesmonthly=shares.groupby(pd.Grouper(key='Date', freq='1M')).sum()
sharesmonthly

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
Date,,,,,,,,,,,,
2017-05-31,6688.60,6678.05,6839.90,6592.85,6706.40,6721.95,6731.94,7657568,3.988721e+09,174506,2619442,432.94
2017-06-30,11166.95,11204.95,11329.25,10996.20,11140.65,11152.00,11173.53,13393858,7.156297e+09,294498,4801380,713.80
2017-07-31,10720.05,10725.05,10803.20,10595.55,10669.95,10668.50,10692.43,14444626,7.429777e+09,285355,6885953,988.34
2017-08-31,9823.75,9821.05,9944.80,9671.45,9797.95,9807.30,9817.58,5298169,2.481171e+09,159287,2003043,774.87
2017-09-30,9625.75,9631.75,9755.30,9514.25,9625.05,9629.60,9630.69,9733199,4.454675e+09,250614,4423697,894.10
2017-10-31,9760.15,9763.25,9904.65,9646.60,9769.65,9774.95,9787.68,11012999,5.392166e+09,221246,4896705,832.80
2017-11-30,11091.70,11112.85,11315.00,10974.95,11155.90,11151.25,11162.80,14402265,7.434450e+09,369650,5069927,854.44
2017-12-31,11334.60,11350.35,11585.45,11186.85,11400.70,11407.80,11431.34,16405668,9.382329e+09,399237,4194148,542.86
2018-01-31,14571.30,14625.25,14959.85,14456.45,14711.00,14728.90,14742.12,38929266,2.731500e+10,829594,9218031,645.27
2018-02-28,13985.85,13958.75,14293.45,13701.60,14047.65,14030.95,14034.93,31421460,2.381319e+10,855434,8345421,571.66
2018-03-31,15292.05,15311.45,15588.15,15006.10,15254.20,15248.90,15284.07,42662298,3.442934e+10,950347,8994758,430.60
2018-04-30,18618.40,18727.80,19238.00,18469.55,18959.85,18931.05,18909.07,76078338,7.123417e+10,1431321,13164139,418.14
2018-05-31,22468.45,22574.55,22848.05,22186.00,22410.45,22391.80,22500.02,34149497,3.504160e+10,832983,7759531,528.51
2018-06-30,20954.20,21021.60,21236.30,20586.05,20962.15,20933.15,20909.40,23988340,2.375643e+10,665028,5343611,484.84
2018-07-31,22083.00,22125.05,22452.15,21638.90,22028.30,22028.40,22025.96,51742810,5.181641e+10,1244889,11183796,522.44
2018-08-31,20923.75,20952.25,21345.10,20744.45,21111.85,21106.15,21078.33,27042640,2.746540e+10,685533,5690578,453.57
2018-09-30,20194.60,20252.20,20533.65,19775.55,20174.35,20113.15,20170.25,29650132,3.345904e+10,720277,5237332,341.20
2018-10-31,19518.65,19418.60,19882.70,18857.95,19338.20,19336.25,19349.81,40635225,3.547601e+10,1184431,9157245,476.52
2018-11-30,16791.45,16817.25,17109.75,16523.25,16816.40,16817.25,16812.53,24031317,2.020722e+10,729546,6116188,486.59
2018-12-31,17262.85,17253.10,17531.55,16979.90,17229.10,17250.70,17246.42,23531373,2.029414e+10,665399,4494225,365.58
2019-01-31,19834.70,19870.05,20232.40,19500.85,19870.35,19864.25,19875.13,60951522,5.311295e+10,1335531,8546106,362.18
2019-02-28,17942.00,17952.05,18183.95,17711.45,17951.00,17956.75,17963.45,23902864,2.148332e+10,629070,5676203,481.13
2019-03-31,17753.20,17841.30,18015.20,17623.20,17802.95,17788.90,17800.54,35217351,3.315873e+10,845705,9578646,506.24
2019-04-30,18335.25,18359.20,18505.70,18249.95,18367.95,18372.00,18399.25,17255463,1.670285e+10,465779,7645584,845.04
2019-05-31,7830.85,7834.20,7873.00,7771.00,7837.65,7828.70,7828.58,12437801,1.218241e+10,87183,10057055,464.56

In [14]:
import statsmodels.api as sm
count=len(niftymonthly)
x=[]

def beta_specific_mths(N):
    count1=count-N
    x=sharesmonthly.iloc[count1:count,5]
    y=niftymonthly.iloc[count1:count,3]
    prices=pd.concat([x,y],axis=1)
    beta=sm.OLS(endog=x,exog=y,missing='drop').fit()
    return beta.params
beta_specific_mths(3)

Close    1.023309
dtype: float64

In [15]:
monthly_prices=pd.concat([sharesmonthly['Close Price'],niftymonthly['Close']],axis=1)
X=sharesmonthly['Close Price']
Y=niftymonthly['Close']
monthly_prices

            Close Price         Close
Date
2017-05-31      6721.95   6721.950072
2017-06-30     11152.00  11152.000060
2017-07-31     10668.50  10668.500030
2017-08-31      9807.30   9807.300018
2017-09-30      9629.60   9629.600006
2017-10-31      9774.95   9774.949982
2017-11-30     11151.25  11151.250000
2017-12-31     11407.80  11407.800048
2018-01-31     14728.90  14728.900024
2018-02-28     14030.95  14030.950012
2018-03-31     15248.90  15248.900024
2018-04-30     18931.05  18931.049866
2018-05-31     22391.80  22391.799989
2018-06-30     20933.15  20933.150085
2018-07-31     22028.40  22028.400207
2018-08-31     21106.15  21106.150085
2018-09-30     20113.15  20113.149903
2018-10-31     19336.25  19336.250061
2018-11-30     16817.25  16817.249940
2018-12-31     17250.70  17250.699892
2019-01-31     19864.25  19864.249940
2019-02-28     17956.75  17060.249940
2019-03-31     17788.90  16844.400084
2019-04-30     18372.00  18372.000180
2019-05-31      7828.70   7828.700012

In [20]:
mymodel=sm.OLS(endog=X,exog=Y,missing='drop')
mymodel=pd.DataFrame

In [21]:
res=sm.OLS(endog=X,exog=Y,missing='drop').fit()
res.params

Close    1.004857
dtype: float64

In [22]:
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            Close Price   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 1.008e+05
Date:                Mon, 24 Aug 2020   Prob (F-statistic):           5.32e-45
Time:                        20:53:09   Log-Likelihood:                -173.36
No. Observations:                  25   AIC:                             348.7
Df Residuals:                      24   BIC:                             349.9
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Close          1.0049      0.003    317.519      0.000       0.998       1.011
==============================================================================
Omnibus:                       38.136   Durbin-Watson:                   1.128
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               96.737
Skew:                           3.055   Prob(JB):                     9.86e-22
Kurtosis:                      10.453   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""